[submodule "nivel08/stagerocketnotes-backend"]
	path = nivel08/stage/rocketnotes-backend
	url = https://github.com/Elias-Neto/rocketnotes-backend
[submodule "nivel08/stage/rocketmovies-backend"]
	path = nivel08/stage/rocketmovies-backend
	url = https://github.com/Elias-Neto/rocketmovies-backend
