* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-color: #121214;
  --soundButton-bg: #29292e;
  --light-theme-soundButton-bg: #e0e0e5;

  --base-color: 194;
  --bg-primmary-light: hsla(var(--base-color), 100%, 63%, 0.13);
  --primary-color: hsl(var(--base-color), 100%, 63%);
  --soundButton-active-bg: hsl(var(--base-color), 74%, 15%);
  --light-theme-soundButton-active-bg: hsl(var(--base-color), 97%, 31%);

  --text-color: #fff;
  --light-theme-text-color: #323238;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);

  background-color: var(--bg-color);

  display: grid;
  height: 100vh;

  transition: background 0.3s ease;
}

.hide {
  display: none;
}

button {
  background: transparent;
  border: none;

  cursor: pointer;
}

button svg {
  width: clamp(3.2rem, 2rem + 12vw, 6.4rem);
}

header {
  align-items: start;
  justify-self: right;

  padding: 3.2rem 4rem 0 0;
}

main {
  align-self: center;
  justify-self: center;

  display: flex;
  align-items: center;
  justify-content: space-around;

  width: clamp(85rem, 80rem + 30vw, 100%);
}

main .timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .timer .time {
  font-size: clamp(9rem, 8rem + 20vw, 12rem);
  font-weight: 700;

  display: flex;

  margin-bottom: 1.6rem;
}

main .timer .controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

main .timer .controls .center {
  background-color: var(--bg-primmary-light);
  border-radius: 9999px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;

  width: clamp(10rem, 10rem + 30vw, 22.8rem);
  height: clamp(8rem, 5rem + 10vw, 10.8rem);
}

main .timer .controls .center .play svg path,
main .timer .controls .center .pause svg path,
footer .sound-on svg path {
  fill: var(--primary-color);
}

main .soundButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

main .soundButtons .wrapper {
  position: relative;
}

main .soundButtons .wrapper.active button {
  background-color: var(--soundButton-active-bg);
}

main .soundButtons .wrapper button {
  background-color: var(--soundButton-bg);
  cursor: pointer;
  padding: 2.4rem 4rem;
  border-radius: 2.4rem;
  width: clamp(14rem, 10rem + 30vw, 15rem);
  height: clamp(15rem, 11rem + 30vw, 16rem);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;

  transition: background 0.3s ease;
}

main .soundButtons .wrapper button svg {
  margin-bottom: 3.2rem;
}

main .soundButtons .wrapper.active button svg path {
  fill: #fff;
}

main .soundButtons .wrapper button svg path {
  fill: #c4c4cc;
}

main .soundButtons .wrapper input[type="range"] {
  cursor: pointer;
  appearance: none;
  background: transparent;
  width: clamp(6rem, 7vw, 9rem);

  position: absolute;
  bottom: 3.2rem;
  left: calc(50% - clamp(6rem, 7vw, 9rem) / 2);
}

main .soundButtons .wrapper input[type="range"]::-webkit-slider-runnable-track {
  appearance: none;

  width: clamp(6rem, 7vw, 9rem);
  height: clamp(0.3rem, 0.3vw, 0.4rem);
  border-radius: 0.5rem;

  background-color: var(--text-color);
}

main .soundButtons .wrapper input[type="range"]::-webkit-slider-thumb {
  appearance: none;

  width: clamp(1.1rem, 1.3vw, 1.6rem);
  height: clamp(1.1rem, 1.3vw, 1.6rem);
  border-radius: 50%;

  background-color: var(--text-color);

  position: relative;
  top: calc(50% - clamp(1.1rem, 1.3vw, 1.6rem) / 2);
}

footer {
  align-self: end;
  justify-self: end;

  padding: 0rem 4rem 3.2rem 0;
}

body.lightMode {
  background-color: #fff;
  color: var(--light-theme-text-color);
}

body.lightMode main .timer .controls .center {
  background-color: var(--soundButton-active-bg);
}

body.lightMode main .timer .controls .add svg path,
body.lightMode main .timer .controls .decrease svg path,
body.lightMode footer .sound-off svg path {
  fill: var(--light-theme-text-color);
}

body.lightMode main .soundButtons .wrapper.active button {
  background-color: var(--light-theme-soundButton-active-bg);
}

body.lightMode main .soundButtons .wrapper button {
  background-color: var(--light-theme-soundButton-bg);
}

body.lightMode main .soundButtons .wrapper.active svg path {
  fill: var(--text-color);
}

body.lightMode main .soundButtons .wrapper button svg path {
  fill: var(--light-theme-text-color);
}

body.lightMode
  main
  .soundButtons
  .wrapper.active
  input[type="range"]::-webkit-slider-runnable-track,
body.lightMode
  main
  .soundButtons
  .wrapper.active
  input[type="range"]::-webkit-slider-thumb {
  background-color: var(--text-color);
}

body.lightMode
  main
  .soundButtons
  .wrapper
  input[type="range"]::-webkit-slider-runnable-track,
body.lightMode
  main
  .soundButtons
  .wrapper
  input[type="range"]::-webkit-slider-thumb {
  background-color: var(--light-theme-text-color);
}

body.lightMode footer .sound-on svg path {
  fill: var(--light-theme-soundButton-active-bg);
}
